<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Fitness Page</title>
   <link rel="stylesheet" href="../css/fitness.css">
   <link rel="stylesheet" href="../../style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
  <nav class="navbar">
    <div class="logo">SerP</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
              <li id="home">Home</li>
                <li id="uber">Uber</li>
                <li id="masaj">Masaj</li>
                <li id="fitness">Fitness</li>
                <li class="login" id="login">Log In</li>
          </div>
        </ul>
    </nav>
   <div itemscope itemtype="http://schema.org/ExerciseGym"><div class="introduction">
    <div class="introd">
      <h1 itemprop="name">Aquaterra Fitness</h1>
      <p>"Exercise not only changes your body, it changes your mind, your attitude, and your mood"</p>
   </div>
 </div>

   <div class="descriere">
  <div class="rowD">
    <div class="columnD">
      <div class="descText">
        <h4>Descriere</h4> 
         <p itemprop="description">
            <br>
          Sălile de fitness sunt amplasate în trei orașe din România: Iași, București și Cluj-Napoca. Oferim multiple tipuri de abonamente pentru a corespunde programului fiecărei persoane. Antrenamentele sunt adaptate stilului de viață, condiției fizice și nu în ultimul rând scopului fiecăruia, fie acesta slăbire, menținerea sănătății, recuperare sau creșterea masei musculare.
          </p>
        </div>
      
    </div>
    <div class="columnD">
      <div class="descImg"><img itemprop="image" src="../pics/BackToGymSWEATf1f07a7f6f79e7b8807d2436a6ae8e8b.jpg" alt="Exercise"></div>
    </div>
    
  </div>
  <div class="rowD">
    <div class="columnD">
      <div class="descImg"><img itemprop="image" src="../pics/MakeGymWorkoutsPartOfYourRoutineSWEAT_enf89e42d9f6346ab1accf553c8459f6a1.jpg" alt="Exercise"></div>
    </div>
    <div class="columnD">
      <div class="descText">
        <h4>Avantaje:</h4> 
        <br>
        <ul itemprop="description">
         <li>Cele mai bune aparate de fitness;</li>
         <li>Cel mai performant sistem de climatizare și purificare a aerului, special creat pentru sălile de fitness;</li>
         <li>Instructori cu experiență și specializări în domeniu care te vor ajuta în sală pe tot parcursul programului de antrenament;</li>
         <li>Reducere de 10% pentru studenți;</li>
         <li>Promoții;</li>
         <li>Bonusuri și facilități pentru clienții fideli;</li>
      </ul>
      </div>
    </div>
    
  </div>
  </div>
  </div>
   <div class="abonamente" itemscope itemtype="https://schema.org/OfferCatalog" id="abonamente">
      <h4 itemprop="name">Abonamente</h4>
      <!-- ABONAMENTELE DIN BAZA DE DATE -->
    </div>


  <div class="footer">
        <div class="contact">
            <p><i class="fa-solid fa-envelope"></i>  info@aquaterraFitness.com</p>
        </div>
        <div class="credits">
            <p><i class="fa-regular fa-copyright"></i>  Copyright 2022 SerP</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../js/fitness.js"></script>
</body>
</html>
