<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
    <h1 id="register-header">Create an account</h1>
    <main id="main-holder">
        <form id="register-form">
            <input type="text" name="username" id="username-field" class="register-form-field" placeholder="Username">
            <input type="text" name="email" id="email-field" class="register-form-field" placeholder="Email">
            <input type="password" name="password" id="password-field" class="register-form-field" placeholder="Password">
            <input type="text" name="phone" id="phone-field" class="register-form-field" placeholder="Contact phone">
            <input type="submit" value="Register" id="register-form-submit">
        </form>
  </main>
</body>

</html>