<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Logare</title>
	  <link rel="stylesheet" href="../adminView/adminStyle.css"/>
    <link rel="stylesheet" href="login.css">
</head>

<body>
	<div class="logare">
        <h3>Login</h3>
        <form id="login-form">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" required>
            <input type="text" name="email" id="email-field" class="login-form-field" placeholder="Email" required>
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" required>
            <input type="submit" value="Login" id="login-form-submit">
        </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="login.js"></script>
</body>

</html>