* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0;
   }
body {
    margin-right: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}
.rezerva-div{
    background-color: white;
    height: 450px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
}
#rezerva-masaj{
    position: relative;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.detalii{
    display: block;
    text-align: center;

}
.select-tip{
    width:230px;
    position: relative;
    left: 60px;
}
select {
    font-size: .9rem;
    padding: 2px 5px 10px;
  	border: none;
  	border-bottom: 1px solid black;
    width: 230px;
    padding-top: 10px;
}
.rezerva-acum{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #323232;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 60px;
    left: -15px;
}
.footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }
.contact{
    padding-top: 15px;
    padding-bottom: 5px;
}
@media only screen and (max-width: 360px) {
    .rezerva-div{
        width: 250px;
        height: 370px;
        font-size: 15px;
    }
    .select-tip{
        left: 10px
    }
    #tip{
        right: 40px;
    }
    .rezerva-acum{
       font-size: 17px;
        top: 20px;
        left: -15px;
    }
  }