* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0;
   }
body {
    margin-right: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}
.confirmare-div{
    background-color: white;
    height: 400px;
    width: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
}
.detalii-cursa{
    position: relative;
    top: -30px;
    padding-left: 70px;
    justify-content: flex-start;
    display: block;
}
.detalii-cursa p{
    opacity: 0.5;
}
#confirmare-img{
    margin-top: 130px;
    margin-left: 20px;
    width: 50px;
}
#arrow{
    width: 30px;
}
.timp-div{
    position: relative;
    top: 40px;
    left: 30px;
    justify-content:block;
    display: block;
    align-items: flex-start;
}
#timp{
    width: 250px;
    border-bottom: black 1px solid;
    padding-right: 10px;
    font-size: 15px;
    padding-bottom: 5px;
}
#nr-masina{
    padding-top: 5px;
}
.footer {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  }
.contact{
    padding-top: 15px;
    padding-bottom: 5px;
}
@media only screen and (max-width: 400px) {
    .confirmare-div{
        width: 300px;
    }
  }
