<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../css/masajConfirmareRezervare.css">
    <title>Rezervare confirmata</title>
</head>
<body>
    <!--nav bar-->
    <nav class="navbar">
        <div class="logo">SerP</div>
            <ul class="nav-links">
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <div class="menu">
                  <li id="home">Home</li>
                    <li id="uber">Uber</li>
                    <li id="masaj">Masaj</li>
                    <li id="fitness">Fitness</li>
              </div>
            </ul>
        </nav>
    <!--mesaj confirmare-->
    <div class="confirmare-div">
        <img src="../../images/comanda-confirmata.jpg" alt="confirmare" id="confirmare-img">
        <div class="detalii-rezervare" id="detalii-rezervare">
        </div>

        <div class="alte-oferte-div">
            <p id="alte-oferte">Alte oferte</p>
            <img src="../../images/small-arrow.png" alt="arrow" id="arrow">
            <button class="terapii" id="terapii">Terapii</button>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <div class="contact">
            <p><i class="fa-solid fa-envelope"></i>  info@Masaj.com</p>
        </div>
        <div class="credits">
            <p><i class="fa-regular fa-copyright"></i>  Copyright 2022 SerP</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../js/masajConfirmareRezervare.js"></script>
</body>
</html>