<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../css/masajTerapii.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Terapii</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">SerP</div>
            <ul class="nav-links">
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <div class="menu">
                  <li id="home">Home</li>
                    <li id="uber">Uber</li>
                    <li id="masaj">Masaj</li>
                    <li id="fitness">Fitness</li>
              </div>
            </ul>
        </nav>

    <div class="indian-scalp-div" id="indian-scalp-div">
    </div>

    <div class="back-neck-shoulders-div" id="back-neck-shoulders-div">
    </div>

    <div class="aromatic-div" id="aromatic-div">
    </div>

    <div class="hot-stone-div" id="hot-stone-div">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../js/masajTerapii.js"></script>

    <div class="footer">
        <div class="contact">
            <p><i class="fa-solid fa-envelope"></i>  info@Masaj.com</p>
        </div>
        <div class="credits">
            <p><i class="fa-regular fa-copyright"></i>  Copyright 2022 SerP</p>
        </div>
    </div>
</body>
</html>